* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Nunito", sans-serif;
}

#title {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 60px;
 color: #DDA0DD;
}

#container {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 max-width: 700px;
 width: 100%;
 /* border: 2px #DDA0DD solid; */
 border-radius: 12px;
 padding: 40px 40px;
 padding: 25px 40px 40px 40px;
 box-shadow: 0px 0.2rem 0.5rem #DDA0DD;
}

ul {
 display: flex;
 align-items: baseline;
}

ul li {
 list-style-type: none;
 margin-right: 20px;
 list-style-position: outside;
 color: gray;
 cursor: pointer;
 opacity: 0.8;
 padding-bottom: 6px;
}

.hero {
 border-bottom: 2px solid;
 padding-bottom: 6px;
 color: #DDA0DD;
}

.underline {
 position: absolute;
 bottom: 0;
 left: 0;
 height: 3px;
 width: 0;
 background: #DDA0DD;
 border-radius: 5px;
 transition: all 0.3s ease;
}

#content {
 background-color: #DDA0DD;
 color: white;
 padding: 30px 30px;
 border-radius: 12px;
 margin-top: 40px;
 max-width: 650px;
 width: 100%;
 height: 200px;
}

.active {
 display: block;
}

.nonactive {
 display: none;
}